[submodule "external/KittyMemoryEx"]
	path = external/KittyMemoryEx
	url = https://github.com/MJx0/KittyMemoryEx.git
	branch = main
[submodule "external/KittyMemory"]
	path = external/KittyMemory
	url = https://github.com/MJx0/KittyMemory.git
	branch = master
[submodule "external/omath"]
	path = external/omath
	url = https://github.com/orange-cpp/omath.git
[submodule "external/BNM"]
	path = external/BNM
	url = https://github.com/yiixianx-ux/BNM.git
